* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    background-image: linear-gradient(rgba(255, 119, 135, 0.75), rgba(255, 101, 117, 0.9)), url(/img/bg-desktop.png);
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    height: 100vh;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 25rem;
    height: fit-content;
    margin: 5rem auto;
}

.button1 {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #6C39A6;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: inset;
    box-shadow: 0px 5px #0000004c;
    cursor: pointer;
}

span {
    font-weight: bold;
}

.inner-container {
    padding: 0.5rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 3px #0000004c;
}

.form-group {
    margin: 1rem;
    position: relative;
}

input {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);
}

.button2 {
    width: 100%;
    padding: 1rem;
    background-color: #00DA89;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: inset;
    box-shadow: 0px 2px #0000004c;
    text-transform: capitalize;
    cursor: pointer;
}

p {
    color: rgb(107, 107, 107);
    font-size: 0.6rem;
    text-align: center;
    padding-bottom: 0.5rem;
}

a {
    text-decoration: none;
    color: #FF6575;
    font-weight: bold;
}

.form-group p {
    text-align: right;
    padding-top: 0.3rem;
    color: #FF6575;
    font-weight: bold;
}

svg {
    position: absolute;
    left: 90%;
    top: 18%;
}